@font-face {
  font-family: "exo 2";
  font-style: normal;
  font-weight: 400;
  src: local("Exo 2"),
    url(Exo2-Regular.woff) format("woff");
}
@font-face {
  font-family: "exo 2";
  font-style: italic;
  font-weight: 400;
  src: local("Exo 2"),
    url(Exo2-Italic.woff) format("woff");
}
@font-face {
  font-family: "exo 2";
  font-style: normal;
  font-weight: 250;
  src: local("Exo 2"),
    url(Exo2-ExtraLight.woff) format("woff");
}
@font-face {
  font-family: "exo 2";
  font-style: normal;
  font-weight: 250;
  src: local("Exo 2"),
    url(Exo2-Thin.woff) format("woff");
}
@font-face {
  font-family: "exo 2";
  font-style: italic;
  font-weight: 250;
  src: local("Exo 2"),
    url(Exo2-ExtraLightItalic.woff)
      format("woff");
}
@font-face {
  font-family: "exo 2";
  font-style: italic;
  font-weight: 250;
  src: local("Exo 2"),
    url(Exo2-ThinItalic.woff) format("woff");
}
@font-face {
  font-family: "exo 2";
  font-style: normal;
  font-weight: 300;
  src: local("Exo 2"),
    url(Exo2-Light.woff) format("woff");
}
@font-face {
  font-family: "exo 2";
  font-style: italic;
  font-weight: 300;
  src: local("Exo 2"),
    url(Exo2-LightItalic.woff) format("woff");
}
@font-face {
  font-family: "exo 2";
  font-style: normal;
  font-weight: 500;
  src: local("Exo 2"),
    url(Exo2-Medium.woff) format("woff");
}
@font-face {
  font-family: "exo 2";
  font-style: italic;
  font-weight: 500;
  src: local("Exo 2"),
    url(Exo2-MediumItalic.woff)
      format("woff");
}
@font-face {
  font-family: "exo 2";
  font-style: normal;
  font-weight: 600;
  src: local("Exo 2"),
    url(Exo2-SemiBold.woff) format("woff");
}
@font-face {
  font-family: "exo 2";
  font-style: italic;
  font-weight: 600;
  src: local("Exo 2"),
    url(Exo2-SemiBoldItalic.woff)
      format("woff");
}
@font-face {
  font-family: "exo 2";
  font-style: normal;
  font-weight: 700;
  src: local("Exo 2"),
    url(Exo2-Bold.woff) format("woff");
}
@font-face {
  font-family: "exo 2";
  font-style: italic;
  font-weight: 700;
  src: local("Exo 2"),
    url(Exo2-BoldItalic.woff) format("woff");
}
@font-face {
  font-family: "exo 2";
  font-style: normal;
  font-weight: 800;
  src: local("Exo 2"),
    url(Exo2-ExtraBold.woff) format("woff");
}
@font-face {
  font-family: "exo 2";
  font-style: italic;
  font-weight: 800;
  src: local("Exo 2"),
    url(Exo2-ExtraBoldItalic.woff)
      format("woff");
}
@font-face {
  font-family: "exo 2";
  font-style: normal;
  font-weight: 900;
  src: local("Exo 2"),
    url(Exo2-Black.woff) format("woff");
}
@font-face {
  font-family: "exo 2";
  font-style: italic;
  font-weight: 900;
  src: local("Exo 2"),
    url(Exo2-BlackItalic.woff) format("woff");
}
